<div class="container newMenusContainer">
	<h1>Please upload your menu here:</h1>
	<%= form_for @event, url: events_path do |form| %>
	  <p>Title:<%= form.text_field :title %></p>
	  <p>Upload image here:<%= form.file_field :image %></p>
	  <%= form.submit %>
	<% end %>
</div>